<details open>
  <summary> List of {{ title }} </summary>
  <div class="p-2">
    <ul class="list-none flex flex-col gap-2">
      {% for item in data %}
      <li class="">{{ item }}
        <div id="jb-{{ item.pk }}">
          <button onClick=edit_job("{{ item.pk }}")> Edit </button> |
          <button onClick=delete_job("{{ item.pk}}")>Delete Item</button>
        </div>

      </li>
      {% endfor %}
    </ul>
  </div>
</details>



<script>
  const delete_job = pk => {
    console.log("request to delete pk", pk)
    const divPk = document.querySelector(`#jb-${pk}`);
    let url_mask = "{% url 'spapp:delete_job' 12345 %}".replace(/12345/, pk);
    const ele = `{% include 'components/manager/confirm_action.html' with content="99Test" %}`.replace(/url/, url_mask).replace(/99Test/, "Deleting ");

    divPk.insertAdjacentHTML('beforeend', ele)
    console.log(divPk, url_mask, ele);

  }

  const edit_job = async pk => {
    console.log("request to edit pk", pk)
    const divPk = document.querySelector(`#jb-${pk}`);
    let url_mask = "{% url 'spapp:edit_job' 12345 %}".replace(/12345/, pk);
    const data = await fetch(url_mask).then(res => res.json())
    console.log("data", data)
    const ele = `{% include 'components/manager/edit_form.html' with content="99Test" url="alienData88" pk="pk99" %}`.replace(/url/, url_mask).replace(/99Test/, data.form).replace(/alienData88/, "{% url 'spapp:update_job' %}").replace(/pk99/, pk);
    divPk.insertAdjacentHTML('beforeend', ele)

  }

</script>
