Package               Version
--------------------- ---------
arrow                 1.2.2
asgiref               3.5.0
binaryornot           0.4.4
certifi               2021.10.8
chardet               4.0.0
charset-normalizer    2.0.12
click                 8.0.4
cookiecutter          1.7.3
crispy-tailwind       0.5.0
Django                4.0.3
django-browser-reload 1.3.0
django-crispy-forms   1.13.0
django-tailwind       3.1.1
idna                  3.3
Jinja2                3.0.3
jinja2-time           0.2.0
MarkupSafe            2.1.0
pip                   22.0.2
poyo                  0.5.0
python-dateutil       2.8.2
python-slugify        6.1.1
requests              2.27.1
setuptools            60.6.0
six                   1.16.0
sqlparse              0.4.2
text-unidecode        1.3
urllib3               1.26.8
wheel                 0.37.1
Package              Version
-------------------- -------------------------------------------------------------------------------
apparmor             3.0.4
appdirs              1.4.4
application-utility  1.3.2
arandr               0.1.10
astroid              2.9.3
attrs                21.4.0
Automat              20.2.0
autopep8             1.6.0
bcrypt               3.2.0
Beaker               1.11.0
btrfsutil            5.16.2
CacheControl         0.12.6
certifi              2021.10.8
cffi                 1.15.0
chardet              4.0.0
click                8.0.4
colorama             0.4.4
constantly           15.1.0
contextlib2          0.6.0.post1
crispy-tailwind      0.5.0
cryptography         36.0.1
deluge               2.0.5
distlib              0.3.4
distro               1.7.0
django-crispy-forms  1.13.0
dnspython            2.2.0
docopt               0.6.2
entrypoints          0.4
evdev                1.4.0
filelock             3.4.2
GeoIP                1.3.2
greenlet             1.1.2
gufw                 21.4.0
html5lib             1.1
hyperlink            21.0.0
idna                 3.3
importlib-metadata   4.8.1
incremental          21.3.0
isort                5.10.1
Jade-Application-Kit 3.5.6
jeepney              0.7.1
Jinja2               3.0.3
keyring              23.4.0
lazy-object-proxy    1.7.1
lensfun              0.3.3
LibAppArmor          3.0.4
libtorrent           2.0.5-build-libtorrent-rasterbar-src-libtorrent-rasterbar-2.0.5-bindings-python
libvirt-python       8.1.0
lit                  13.0.1.dev0
louis                3.21.0
lutris               0.5.9.1
lxml                 4.7.1
Mako                 1.1.6
manjaro-sdk          0.1
Markdown             3.3.6
MarkupSafe           2.0.1
mccabe               0.6.1
more-itertools       8.10.0
msgpack              1.0.3
netsnmp-python       1.0a1
npyscreen            4.10.5
ordered-set          4.0.2
packaging            20.9
pacman-mirrors       4.23.2
pep517               0.12.0
Pillow               9.0.1
pip                  21.0
platformdirs         2.4.1
ply                  3.11
progress             1.6
proton-client        0.7.1
protonvpn-cli        3.11.0
protonvpn-gui        1.7.0
protonvpn-nm-lib     3.7.0
psutil               5.9.0
pwquality            1.4.4
pyasn1               0.4.8
pyasn1-modules       0.2.8
pycairo              1.20.1
pycodestyle          2.8.0
pycparser            2.21
PyGObject            3.42.0
pylint               2.12.2
pynvim               0.4.3
pyOpenSSL            21.0.0
pyparsing            3.0.1
PyQt5                5.15.6
PyQt5-sip            12.9.1
PyQtWebEngine        5.15.5
PySide2              5.15.3
PySide6              6.2.3
pysmbc               1.0.23
python-gnupg         0.4.8
python-xapp          2.2.1
python-xlib          0.31
pythondialog         3.5.3
pyxdg                0.27
PyYAML               6.0
ranger-fm            1.9.3
rencode              1.0.6
reportlab            3.6.6
requests             2.27.1
resolvelib           0.5.5
retrying             1.3.3
SecretStorage        3.3.1
service-identity     21.1.0
setproctitle         1.2.2
setuptools           59.3.0
shiboken2            5.15.3
shiboken6            6.2.3
six                  1.16.0
speedtest-cli        2.1.3
systemd-python       234
team                 1.0
toml                 0.10.2
tomli                2.0.0
Twisted              21.7.0
typing-extensions    4.1.0
ueberzug             18.1.9
ufw                  0.36.1
urllib3              1.26.8
vboxapi              1.0
virtualenv           20.13.0
webencodings         0.5.1
wrapt                1.13.3
zipp                 3.7.0
zope.interface       5.4.0
