{% extends 'components/manager/layout.html' %}

{% block content %}
<h1> Admin Settings </h1>

<h2> Manage Degree </h2>
<h3> List </h3>
{{ degrees }}
{% include 'components/manager/create_form.html' with form=form_degree title="Create Degree" url="/manager/create/degree" %}

<h2> Manage Major </h2>
{{ majors }}
{% include 'components/manager/create_form.html' with form=form_major title="Create Major" %}


<h2> Manage Emphasis </h2>
{{ emphasises }}

{% include 'components/manager/create_form.html' with form=form_emphasis title="Create Emphasis" %}

<h2> Validators </h2>
{{ validators }}
{{ form_validator.as_p }}

{% endblock %}
