{% extends 'components/manager/layout.html' %}

{% block content %}
<h1> Admin Settings </h1>

{% include 'components/manager/degree/list.html' with title="Degrees" data=degrees %}
{% include 'components/manager/create_form.html' with form=form_degree title="Create Degree" url="/manager/create/degree" %}

{% include 'components/manager/major/list.html' with title="Majors" data=majors %}
{% include 'components/manager/create_form.html' with form=form_major title="Create Major" url="/manager/create/major" %}


{% include 'components/manager/emphasis/list.html' with title="Emphasises" data=emphasises %}
{% include 'components/manager/create_form.html' with form=form_emphasis title="Create Emphasis" url="/manager/create/emphasis" %}

<h2> Validators </h2>

{% include 'components/manager/validator/list.html' with title="Validators" data=validators %}

{% include 'components/manager/create_form.html' with form=form_validator title="Create Validator" url="/manager/create/validator" %}

{% endblock %}
