{% extends "components/student/layout.html" %}
{% block content %}


 
  <!-- body -->
  <section class="py-8 px-16 md:px-32 xl:px-48  flex justify-between  gap-4 flex-col lg:flex-row ">
    <div>
      <p class="text-xl md:text-2xl xl:text-3xl font-bold">Howdy, {{ user.first_name }} {{ user.last_name }}</p>
      <span class="text-lg">Welcome back, what would you like to do today?</span>
    </div>
  
    <div>
    <select  class="mr-4 border-2 border-blue-700 hover:bg-blue-700 text-black  py-2 px-4 rounded hover:text-white" id="activity" onChange="reset_select()">
        <option> Add Activity</option>
    <optgroup label="Award and Certificate">
      <option onClick="handle_add_ar()"> Academic Recognition </option>
      <option> Certificate </option>
      <option> Scholarship </option>
        </optgroup>


<optgroup label="Experience">
  <option onClick="handle_add_cs()"> Community Service </option>
  <option onClick="handle_add_internship()"> Internship </option>
  <option onClick="handle_add_pj()"> Work Experience </option>
        </optgroup>


        <optgroup label="Personal">
          <option onClick="handle_add_project()"> Projects </option>
          <option onClick="handle_add_research()"> Research Paper </option>
        </optgroup>

      </select>


  
   <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Discover Oppurtunites
  </button>
    </div>
    <div>
        </div>
  </section>
  
  <!-- job listing and activity section -->
  <!-- body -->
  <section class="py-8 px-16 md:px-32 xl:px-48 bg-gray-100 flex justify-between  gap-4 flex-col lg:flex-row ">
    <div class="md:w-2/3">
      <span class="font-bold">Incoming Job Opportunities</span>
  
      <div class="flex flex-col gap-4 mt-4 ">
        <!-- job cards -->
        {% for job in jobs %}
        <div class="bg-white p-6 w-full flex  flex-col lg:gap-0 hover:drop-shadow-md"> 
          <p class="mt-2 text-2xl font-bold">{{ job.title }}</p>
          <div class="flex flew-row justify-between flex-wrap items-end gap-4">
              <div class="flex flex-row gap-8 mt-4 flex-wrap ">
                  <div>
                    <h3 class="font-semibold">{{ job.company_name }}</h3>
                    <span class="text-sm">Posted, {{ job.posted }}</span>
                  </div>

                  <div>
                    <p class="font-semibold">Location</p>
                    <span>{{ job.location }}</span>
                  </div>

                  <div>
                    <p class="font-semibold">Position</p>
                    <span>{{ job.type }}</span>
                  </div>

              </div>

              <div>
                <button class="border-2 border-gray-700 hover:border-blue-700 hover:shadow-md text-black  py-2 px-4 rounded lg">View Details </button>
              </div>
  
          </div>
        </div>
        {% endfor %}
                
      </div>
    </div>
  
    <div class="md:w-1/3">
      <span>Recent Activiites</span>
        <div class="flex flex-col gap-4 mt-4 ">
        <!-- recent activites cards -->
       
          <div class="bg-white p-6 w-full">
            <h3 class="font-semibold">Added Experience: Web Design Intern</h3>
            <span class="text-sm">Created, March 24, 2022</span>
          </div>
    </div>
  </section>
  
  












<div class="grid grid-cols-1 md:grid-cols-3 m-5">
    <div>
  {% include 'components/student/create_form.html' with title="Create Academic Recognition" form=ar_form  url="create-ar" id_form="add_ar" %}

  {% include 'components/student/create_form.html' with title="Create Community Service" form=cs_form activity=activity_form url="create-cs" id_form="add_cs" %}


  {% include 'components/student/create_form.html' with title="Create project" form=project_form  url="create-project" activity=activity_form id_form="add_project" %}

  {% include 'components/student/create_form.html' with title="Create research" form=research_form  url="create-research" activity=activity_form id_form="add_research" %}
  {% include 'components/student/create_form.html' with title="Create internship" form=activity_form  url="create-internship" id_form="add_internship" %}
  {% include 'components/student/create_form.html' with title="Create Previous Job" form=activity_form url="create-pj" id_form="add_pj" %}


    {% comment %}
        <b><h3>Create Academic-Recognition</h3></b>

        <form method="post" class="border-solid rounded-lg pt-3" action="{% url 'spapp:create-ar' %}">
            {% csrf_token %}  
            {{ar_form.as_p}}
            <input type="submit" value="submit" class="bg-primary text-white rounded-lg p-2 border-solid" />
        </form>
        {% endcomment %}
    </div>
    <div>

    {% comment %}
        <b><h3>Create Validator</h3></b>
        <form method="post" class="border-solid rounded-lg pt-3" action="#">
            {% csrf_token %}
            {{v_form.as_p}}
        </form>

        {% endcomment %}
    </div>
    {% comment %}
    <div>
        <b><h3>Create Academic-Recognition</h3></b>
        <form method="post" class="border-solid rounded-lg pt-3" action="{% url 'spapp:create-ar' %}">
            {% csrf_token %}  
            {{ar_form.as_p}}
            <input type="submit" value="submit" class="bg-primary text-white rounded-lg p-2 border-solid" />
        </form>
    </div>
    {% endcomment %}
</div>
<div class="grid grid-cols-1 md:grid-cols-4 m-5 ">
    <div>
        <b><h3>My Activities</h3></b><br>
        {% for activity in activities %}
            {% ifchanged %}
                <div class="mt-0">
                    Name: <strong>{{activity.activity_name}}</strong><br>
                </div><br> 
            {% endifchanged %}         
        {% endfor %}
    </div>
    <div>
        <b><h3>My Academic Recognition</h3></b><br>    
        {% for ar in ars %}
            <div class="mb-5">
                Semester: {{ar.semester}} | 
                GPA: {{ar.gpa}} |
                Description: {{ar.activity.description}} |
                Validator: {{ar.activity.validator}}
                <button class="bg-primary text-white font-bold py-2 px-4 rounded">
                    <a href="{% url 'spapp:update-ar' ar.id %}">Update</a>
                </button><br><br>  
            </div>         
        {% endfor %} 
    </div>
    <div>
        {% for pj in pjs %}
            <div class="mb-5">
                Semester: {{pj.activity}}
                <button class="bg-primary text-white font-bold py-2 px-4 rounded">
                    <a href="">Update</a>
                </button><br><br>  
            </div>         
        {% endfor %} 
    </div>
</div>

  <script>
    const add_activity = document.querySelector("#activity");
  const reset_select = e => {
        setTimeout(() => {
              console.log("reset select")
              add_activity.value = "Add Activity"
            }, 2000)
      }
  const add_ar = document.querySelector("#add_ar")
  const handle_add_ar = (e) => {
      add_ar.open = true;
    }
  const add_cs = document.querySelector("#add_cs")
  const handle_add_cs = (e) => {
      add_cs.open = true;
    }



  const add_project = document.querySelector("#add_project")
  const handle_add_project = (e) => {
      add_project.open = true;
    }

  const add_research = document.querySelector("#add_research")
  const handle_add_research = (e) => {
      add_research.open = true;
    }


  const add_internship = document.querySelector("#add_internship")
  const handle_add_internship = (e) => {
      add_internship.open = true;
    }


  const add_pj = document.querySelector("#add_pj")
  const handle_add_pj = (e) => {
      add_pj.open = true;
    }

</script>



{% endblock %}
