{% extends "components/student/layout.html" %}
{% block content %}

<div class="bg-gray-200 px-16 pt-12 h-screen w-full flex gap-4">
    <div class="w-2/3">
      Incomming Job Opportunities
  
      <div class="bg-blue-400 mt-4 p-4">
       {{ jobs }}
      </div>
    </div>
  
    <div class="w-1/3">
      Recent Activiites
  
      <div class="bg-blue-400 mt-4 p-4">
        avitivites details
      </div>
    </div>
  </div>





<div class="grid grid-cols-1 md:grid-cols-3 m-5">
    <div>
  {% include 'components/student/create_form.html' with title="Create Academic Recognition" form=ar_form  url="create-ar" %}

  {% include 'components/student/create_form.html' with title="Create Community Service" form=cs_form activity=activity_form url="create-cs" %}


  {% include 'components/student/create_form.html' with title="Create project" form=project_form  url="create-project" activity=activity_form %}

  {% include 'components/student/create_form.html' with title="Create research" form=research_form  url="create-research" activity=activity_form %}
  {% include 'components/student/create_form.html' with title="Create internship" form=activity_form  url="create-internship" %}
  {% include 'components/student/create_form.html' with title="Create Previous Job" form=activity_form url="create-pj" %}

      {% include 'components/student/create_form.html' with title="Create Academic Recognition" form=ar_form  url="create-ar" %}

    {% comment %}
        <b><h3>Create Academic-Recognition</h3></b>

        <form method="post" class="border-solid rounded-lg pt-3" action="{% url 'spapp:create-ar' %}">
            {% csrf_token %}  
            {{ar_form.as_p}}
            <input type="submit" value="submit" class="bg-primary text-white rounded-lg p-2 border-solid" />
        </form>
        {% endcomment %}
    </div>
    <div>

    {% comment %}
        <b><h3>Create Validator</h3></b>
        <form method="post" class="border-solid rounded-lg pt-3" action="#">
            {% csrf_token %}
            {{v_form.as_p}}
        </form>

        {% endcomment %}
    </div>
    {% comment %}
    <div>
        <b><h3>Create Academic-Recognition</h3></b>
        <form method="post" class="border-solid rounded-lg pt-3" action="{% url 'spapp:create-ar' %}">
            {% csrf_token %}  
            {{ar_form.as_p}}
            <input type="submit" value="submit" class="bg-primary text-white rounded-lg p-2 border-solid" />
        </form>
    </div>
    {% endcomment %}
</div>
<div class="grid grid-cols-1 md:grid-cols-4 m-5 ">
    <div>
        <b><h3>My Activities</h3></b><br>
        {% for activity in activities %}
            {% ifchanged %}
                <div class="mt-0">
                    Name: <strong>{{activity.activity_name}}</strong><br>
                </div><br> 
            {% endifchanged %}         
        {% endfor %}
    </div>
    <div>
        <b><h3>My Academic Recognition</h3></b><br>    
        {% for ar in ars %}
            <div class="mb-5">
                Semester: {{ar.semester}} | 
                GPA: {{ar.gpa}} |
                Description: {{ar.activity.description}} |
                Validator: {{ar.activity.validator}}
                <button class="bg-primary text-white font-bold py-2 px-4 rounded">
                    <a href="{% url 'spapp:update-ar' ar.id %}">Update</a>
                </button><br><br>  
            </div>         
        {% endfor %} 
    </div>
    <div>
        {% for pj in pjs %}
            <div class="mb-5">
                Semester: {{pj.activity}}
                <button class="bg-primary text-white font-bold py-2 px-4 rounded">
                    <a href="">Update</a>
                </button><br><br>  
            </div>         
        {% endfor %} 
    </div>
</div>

{% endblock %}

<!-- <form method="post" action="{% url 'spapp:update-ar' ar_form.instance.id %}">
    {% csrf_token %}
    {{ar_form.as_p}}
    <input type="submit" value="submit" class="bg-primary text-white rounded-lg p-2 border-solid" />
    <br><span>==============================</span>
</form> -->

<!-- Description: <strong>{{ar.activity.description}}</strong><br>
Start-Date: <strong>{{ar.activity.from_date}}</strong><br>
End-Date: <strong>{{ar.activity.to_date}}</strong><br>
Validator: <strong>{{ar.activity.validator}}</strong><br>
Verification-Status: <strong>{{ar.activity.verification_status}}</strong><br> -->
