{% extends "components/student/layout.html" %}
{% block content %}
<div class="grid grid-cols-3 m-5 ml-36">
    <div>
        <b><h3>Create Academic-Recognition</h3></b>
        <form method="post" class="border-solid rounded-lg pt-3" action="{% url 'spapp:create-ar' %}">
            {% csrf_token %}  
            {{ar_form.as_p}}
            <input type="submit" value="submit" class="bg-primary text-white rounded-lg p-2 border-solid" />
        </form>
    </div>
    <div>
        <b><h3>Create Validator</h3></b>
        <form method="post" class="border-solid rounded-lg pt-3" action="#">
            {% csrf_token %}
            {{v_form.as_p}}
        </form>
    </div>
    <div>
        <b><h3>Create Academic-Recognition</h3></b>
        <form method="post" class="border-solid rounded-lg pt-3" action="{% url 'spapp:create-ar' %}">
            {% csrf_token %}  
            {{ar_form.as_p}}
            <input type="submit" value="submit" class="bg-primary text-white rounded-lg p-2 border-solid" />
        </form>
    </div>
</div>
<div class="grid grid-cols-3 m-5 ml-36">
    <div>
        <b><h3>My Activities</h3></b><br>
        {% for activity in activities %}
            {% ifchanged %}
                <div class="mt-0">
                    Name: <strong>{{activity.activity_name}}</strong><br>
                </div><br> 
            {% endifchanged %}         
        {% endfor %}
    </div>
    <div>
        <b><h3>My Academic Recognition</h3></b><br>     
        {% for ar in academic_recogs %}
            <form method="post" action="{% url 'spapp:update-ar' ar.id %}">
                {% csrf_token %}
                <div class="mt-0">
                    <label>Academic-Year</label>
                    <input type="number" name="year" value="{{ar.year}}"><br>
                    <label>Semester</label>
                    <select name="semester">
                        {% if ar.semester == 'first_semester' %}
                            <option selected value="first_semester">First Semester</option>
                            <option value="second_semester">Second Semester</option>
                        {% else %}
                            <option value="first_semester">First Semester</option>
                            <option selected value="second_semester">Second Semester</option>
                        {% endif %}                  
                    </select><br>
                    <label>GPA</label>
                    <input type="number" max="4" min="0" name="gpa" value="{{ar.gpa}}"><br>
                    Description: <strong>{{ar.activity.description}}</strong><br>
                    Start-Date: <strong>{{ar.activity.start_date}}</strong><br>
                    End-Date: <strong>{{ar.activity.end_date}}</strong><br>
                    Validator: <strong>{{ar.activity.validator}}</strong><br>
                    Verification-Status: <strong>{{ar.activity.verification_status}}</strong><br>                  
                </div>    
                <input type="submit" value="submit" class="bg-primary text-white rounded-lg p-2 border-solid" />
                <br><span>==============================</span>
            </form>
        {% endfor %} 
    </div>
</div>

{% endblock %}
