{% extends 'pages/auth/layout.html' %}
{% block content %}

<form class="mx-auto  overflow-hidden bg-white rounded-lg drop-shadow-md shadow-blue-500/50 mt-16 w-[80%] sm:w-1/2 lg:w-1/3 block" method="POST">
{% csrf_token %}

  <!-- <div class="hidden bg-cover lg:block lg:w-1/2" style="background-image:url('https://picsum.photos/1575/800')"></div> -->
	
	<div class=" px-6 py-8 md:px-8 ">
		<h2 class="text-2xl font-semibold text-center text-gray-700 ">Student Portfolio</h2>
  
		<p class="text-xl text-center text-gray-600 ">Sign Up</p>

		<div class="mt-4">
			<label class="block mb-2 text-sm font-medium text-gray-600 " for="fullname">Full Name</label>
			<input id="fullname" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-md focus:border-blue-500 focus:outline-none focus:ring" type="text" name="full_name">
		</div>
  
		<div class="mt-4">
			<label class="block mb-2 text-sm font-medium text-gray-600 " for="LoggingEmailAddress">Email Address</label>
			<input id="LoggingEmailAddress" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-md focus:border-blue-500 focus:outline-none focus:ring" type="email" name="email">
		</div>
		<div class="mt-4">
			<label class="block mb-2 text-sm font-medium text-gray-600 " for="id_number">ID Number</label>
			<input id="id_number" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-md focus:border-blue-500 focus:outline-none focus:ring" type="text" name="id_number">
			<p class="text-sm text-gray-500">Enter your Student ID Numbers (e.g. 202200101) </p>
		</div>
 
  
		<div class="mt-4">
			<label class="block mb-2 text-sm font-medium text-gray-600 " for="loggingPassword">Password</label>
			<input id="loggingPassword" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-md focus:border-blue-500 focus:outline-none focus:ring" type="password" name="password">
		</div>

		<div class="mt-4">
			<label class="block mb-2 text-sm font-medium text-gray-600 " for="confirmPassword">Confirm Password</label>
			<input id="confirmPassword" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-md focus:border-blue-500 focus:outline-none focus:ring" type="password" name="password1">
		</div>
  
		<div class="mt-8">
			<button class="w-full px-4 py-2 tracking-wide text-white bg-blue-600 rounded transition-colors duration-200 transform hover:bg-blue-700 focus:outline-none focus:bg-gray-600">
				Create Account
			</button>
		</div>
		
		<div class="flex items-center justify-between mt-4">
			<span class="w-1/5 border-b md:w-1/4"></span>
  
			<a href="{% url 'spapp:login' %}" class="text-xs text-gray-500 hover:underline">Already have an account? <span class="text-blue-500">Sign in</span></a>
			
			<span class="w-1/5 border-b md:w-1/4"></span>
		</div>
	</div>
  </form>


{% endblock %}
