<h1> List {{ title }} </h1>

{% for item in data %}
<li>{{ item.pk }} {{ item.name }} {{ item.email }} | {{ item.created_by }}
  <div id="val-{{ item.pk }}">
    <button onClick=edit_validator("{{ item.pk }}")> Edit </button> |
    <button onClick=delete_validator("{{ item.pk}}")>Delete Item</button>
  </div>

</li>

{% endfor %}



<script>
  const delete_validator = pk => {
    console.log("request to delete pk", pk)
    const divPk = document.querySelector(`#val-${pk}`);
    let url_mask = "{% url 'spapp:delete_validator' 12345 %}".replace(/12345/, pk);
    const ele = `{% include 'components/manager/confirm_action.html' with content="99Test" %}`.replace(/url/, url_mask).replace(/99Test/, "Deleting ");

    divPk.insertAdjacentHTML('beforeend', ele)
    console.log(divPk, url_mask, ele);

  }

  const edit_validator = async pk => {
    console.log("request to edit pk", pk)
    const divPk = document.querySelector(`#val-${pk}`);
    let url_mask = "{% url 'spapp:edit_validator' 12345 %}".replace(/12345/, pk);
    const data = await fetch(url_mask).then(res => res.json())
    console.log("data", data)
    const ele = `{% include 'components/manager/edit_form.html' with content="99Test" url="alienData88" pk="pk99" %}`.replace(/url/, url_mask).replace(/99Test/, data.form).replace(/alienData88/, "{% url 'spapp:update_validator' %}").replace(/pk99/, pk);
    divPk.insertAdjacentHTML('beforeend', ele)

  }



</script>
