<details>
  <summary> List of {{ title }} </summary>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Degree
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Faculty
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>

              {% for item in data %}
              <tr class="border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ item.name }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{ item.faculty }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap" id="deg-{{ item.pk }}">
                  <button onClick=edit_degree("{{ item.pk }}")> Edit </button> |
                  <button onClick=delete_degree("{{ item.pk}}")>Delete Item</button>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</details>



<script>
  const delete_degree = pk => {
    console.log("request to delete pk", pk)
    const divPk = document.querySelector(`#deg-${pk}`);
    let url_mask = "{% url 'spapp:delete_degree' 12345 %}".replace(/12345/, pk);
    const ele = `{% include 'components/manager/confirm_action.html' with content="99Test" %}`.replace(/url/, url_mask).replace(/99Test/, "Deleting ");

    divPk.insertAdjacentHTML('beforeend', ele)
    console.log(divPk, url_mask, ele);

  }

  const edit_degree = async pk => {
    console.log("request to edit pk", pk)
    const divPk = document.querySelector(`#deg-${pk}`);
    let url_mask = "{% url 'spapp:edit_degree' 12345 %}".replace(/12345/, pk);
    const data = await fetch(url_mask).then(res => res.json())
    console.log("data", data)
    const ele = `{% include 'components/manager/edit_form.html' with content="99Test" url="alienData88" pk="pk99" %}`.replace(/url/, url_mask).replace(/99Test/, data.form).replace(/alienData88/, "{% url 'spapp:update_degree' %}").replace(/pk99/, pk);
    divPk.insertAdjacentHTML('beforeend', ele)

  }

</script>
