@tailwind base;
@tailwind components;
@tailwind utilities;




form div {
  @apply flex my-2 flex-col;
}

form {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4;

}

form p {
  @apply w-full;
}

input[type=text], input[type="email"], input[type="number"], input[type="date"], textarea {
  @apply block w-full px-4 py-2 text-gray-700 bg-white border rounded-md focus:border-blue-500 focus:outline-none focus:ring;
}

input[type=file] {
    @apply block w-full text-sm text-slate-500
      file:mr-4 file:py-2 my-2 file:px-4
      file:rounded-md file:border-0
      file:text-sm file:font-semibold
      file:bg-blue-50 file:text-blue-700
      hover:file:bg-blue-100;
}

form button {
  @apply w-full px-4 py-2 tracking-wide text-white rounded ;
}

select {
  @apply rounded-md;
}
input[type=submit] {
  @apply w-20;
}

label {
  @apply block mb-2 text-sm font-medium text-gray-600;
}


