<div class="fixed inset-0 flex justify-center p-20 bg-blue-200/75" id="action">
  <div class="p-20 gap-2">
    <div
      class="p-10 rounded-lg mx-auto mt-10 overflow-hidden bg-white rounded-lg drop-shadow-md shadow-blue-500/50 sm:mt-20 w-96 px-6 py-8 md:px-8">

      <a href="url" class="p-2 m-2 text-gray-50 bg-red rounded-md hover:underline"> Confirm Delete </a>
      <button class="p-2 rounded-md bg-secondary text-gray-50" onClick="cancelAction()"> Cancel </button>
    </div>
  </div>

</div>
