<details class="border-solid open:border-2 m-2 border-primary p-2 rounded-md">
  <summary>
    {{ title }}
  </summary>
  <div class="">
    <form class="" method="post" id="create_form" action="{{ url }}">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      <div class="">
        {% for field in form.visible_fields %}
        <div>
          <label for="id_{{ field.label|lower }}">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}

      </div>
      <div>
        <button type="submit" class="bg-primary hover:bg-secondary p-2 rounded-md text-white">Create</button>
      </div>
    </form>
  </div>
</details>

<script>



</script>
