{% with home="/manager" settings="/manager/settings" rp=request.get_full_path %}
<div class="px-16 md:px-32 xl:px-48 bg-sky-500 py-2 flex justify-between w-full text-gray-100">
  <div class="flex gap-4">
    <a class="p-2">{{ user }}</a>
    <a class='p-2 {% if rp == home %} bg-sky-400 rounded-lg  {% endif %}' href="{{ home }}"> Home </a>
    <a class='p-2 {% if rp == settings %} bg-sky-400 rounded-lg  {% endif %}' href="{{ settings }}"> Settings </a>

  </div>

  <a href="{% url 'spapp:logout' %}" class="p-2 rounded-lg hover:bg-red "> Sign out </a>
  {{ name }}

</div>
{% endwith %}
