{% extends 'base.html' %}

{% block head %}
    <title>Manager | SPAPP</title>

{% endblock %}


{% block body %}

	{% block header %}
		{% include "components/manager/header.html" %}
	{% endblock %}

	<main class="">
	{% block content %}
	{% endblock %}
	</main>

	{% block footer %}
		{% include "components/manager/footer.html" %}
	{% endblock %}

  <script>

    
  const cancelAction = () => {
    const actions = document.querySelectorAll("#action");
    actions.forEach(action => {
      console.log(action);
      action.className = "hidden";
      action.outterHTML = "";
      console.log("presseddd")
    })
  }


  </script>

{% endblock %}

